@model IEnumerable<ToDo.Application.Dtos.Item.ItemResponseDto>

@{
	ViewData["title"] = "Index";
}

<table id="item" class=" table">
	<thead>
		<tr class="">
			<th>Descrição</th>
			<th>Data de criação</th>
			<th>Status</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Description</td>
				<td>@item.CreatedAt</td>
				<td><input type="checkbox" disabled @(item.Done ? "checked" : "") action="" /></td>
				<td><button name="Editar" @(item.Done ? "enabled" : "disabled") onclick="location.href='@Url.Action("Edit", "Item", new {Id = @item.Id, Description = @item.Description, Done = item.Done})'">Editar</button></td>
				<td><button name="Delete" onclick="location.href='@Url.Action("Exclude", "Item", new {id = item.Id})'" >Delete</button></td>
			</tr>
		}
	</tbody>
</table>